@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$color-dark: #242831;
$color-light: #f5f5f5;
$phone: 840px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color-dark;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: $color-light;
}

nav {
  height: 1.5 em;
  width: 100 vw;
  @include phone {
    display: grid;
    justify-content: center;
  }

  #rluo {
    font-size: 35px;
  }

  ul li {
    list-style: none;
    display: inline-block;
    margin: 0.25em 5em 0 2em;
    @include phone {
      margin: 0.25em 6vw 0 0;
    }

    a {
      text-decoration: none;
      color: $color-light;
    }
  }
}

header {
  h1 {
    text-align: center;
    color: $color-light;
  }
}

.container {
  display: grid;
  /*grid-template-columns: repeat(4, 50px);*/
  grid-gap: 10px;
  justify-content: center;
  /*border: 3px solid green;*/
  padding: 10px;
}

.content {
  background-color: $color-light;
  height: 50px;
  width: 50px;
  border-radius: 10%;
}

form {
  text-align: center;
  label {
    display: block;
  }
}
